[Unit]
Description=Service to create a interface to I2C port using TCP loopback

[Service]
Type=simple
User=root
ExecStart=/usr/bin/python3 /home/pi/Dev/I2C/python_tcp_i2c_service/i2c_tcp_service.py  
Restart=always
RestartSec=10
After=network-online.target
Wants=network-online.target

[Install]
WantedBy=multi-user.target
