[Unit]
Description=Service to store scan GPIO

[Service]
Type=simple
User=root
ExecStart=/bin/sh /home/pi/Dev/GPIO/gpio_service/gpio_scan.sh  
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
