[Unit]
Description=Service to USART interface TX-RX

[Service]
Type=simple
User=root
ExecStart=/home/pi/Dev/USART/usart_service/py_usart_venv/bin/python3 /home/pi/Dev/USART/usart_service/usart_service.py  
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
